section.community_description {
    padding: 30px 0 20px;
}

section.community_bottom_banner {
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
    width: 100%;
    margin: auto;
}

.community_inner_bottom_banner {
    text-align: center;
    height: 270px;
    display: table;
    width: 100%;
}

.community_bottom_banner_content {
    margin-top: -25px;
}

.community_inner_bottom_banner .community_bottom_banner_content {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    width: 100%;
}

.community_inner_bottom_banner h2 {
    font-size: 30px;
    margin-bottom: 18px;
    font-family: "Leviathan-HTF-Black";
    color: black;
}

.community_bottom_banner_content a {
    display: inline-block;
    color: white;
    background-color: black;
    margin-top: 10px;
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
}
.alphabetic_content-inner h4, .alphabetic_content-inner span {
    font-weight: bold;
    font-family: Gotham-Bold;
}
.alphabetic-box h4, .alphabetic-box span {
    background-color: black;
    color: white;
    padding: 8px 10px;
    display: inline-block;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
}
.alphabetic_listing-row-custom {
    list-style: none;
    padding: 0 0 0 12px;
}

.alphabetic_listing-row-custom li:before {
    content: "";
    position: absolute;
    top: 6px;
    left: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #f4b233;
    display: inline-block;
}

.alphabetic_listing-row-custom li {
    position: relative;
    padding-left: 23px;
    padding-bottom: 10px;
    color: #4a4f55;
}

.alphabetic-heading-row-custom {
    list-style: none;
    padding: 0;
    margin-bottom: 50px;
}

.alphabetic_content_heading h4 {
    padding: 50px 0 30px;
}

.add_txt {
    font-size: 17px;
}
.alphabetic-heading-row-custom {
    margin-bottom: 0px;
}
section.alphabetic_content {
    margin-bottom: 50px;
}
/*----------------- List and Nested List Style ------------*/
ul.list-style br {
    display: none;
}

ul.list-style {
    counter-reset: section;
    list-style-type: none !important;
    padding: 15px 0 0;
}

ul.list-style li {
    list-style: none !important;
    padding: 5px 0 10px 65px;
    margin-bottom: 10px;
    position: relative;
    font-family: "Gotham-Bold";
    font-size: 20px;
    color: #000;
    line-height: 35px;
    font-weight: bold;
}

ul.list-style li:before {
    counter-increment: section;
    content: counters(section, ".") " " !important;
    font-family: "Gotham-Bold";
    font-size: 15px;
    color: #fff;
    background: #000;
    width: 35px;
    height: 35px;
    /* display: inline-block; */
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    margin-right: 20px;
    /* float: left; */
    position: absolute;
    left: 15px;
    top: 5px;
}

ul.list-style li ul.disc-list {
    padding: 8px 0 0;
}

ul.list-style li ul.disc-list li {
    padding: 0 0px 0 22px;
    font-weight: normal;
    font-size: 14px;
    font-family: "Gotham-Book";
    line-height: 1.42857143;
}

ul.list-style li ul.disc-list li:before {
    counter-increment: unset;
    content: "" !important;
    position: absolute;
    top: 6px;
    left: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #f4b233;
    display: inline-block;
}

section.global-checklist-wrap {
    padding: 60px 0px;
    max-width: 1095px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    float: initial;
}

.list-style li p {
    font-size: 14px;
    color: #4a4f55;
    font-weight: normal;
    font-family: "Gotham-Book";
    line-height: 22px;
}

/*-------------------Single inspiration -----------------------*/

.single_beer_insp_sec.inspiration .head_sec h2 {
    color: white;
}

.single_beer_insp_sec.inspiration .pair_box .content_sec .link_dv .link-arrow {
    padding-right: 10px;
}

.single_beer_insp_sec.inspiration .link-arrow::after {
    right: -10px;
}

.single_beer_insp_sec.inspiration .pair_box .content_sec h3 {
    margin-bottom: 12px;
}

.single_beer_insp_sec.inspiration .pair_box {
    border: none;
}

ul.orange-dot-list {
    padding-left: 0px;
}

ul.orange-dot-list li {
    position: relative;
    list-style: none;
    padding-left: 25px;
    margin-bottom: 14px;
}

ul.orange-dot-list li::before {
    content: "" !important;
    counter-increment: unset;
    position: absolute;
    top: 5px;
    left: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #f4b233;
    display: inline-block;
}

ul.orange-dot-list li {
    font-family: "Gotham-Book";
    font-size: 14px;
    color: #4a4f55;
    line-height: 20px;
}

.single-article-banner img.img-responsive.banner-class {
    border: 1px solid #d6d6d6;
}

/* Store Locator Message CSS */
p.st_time.c.st_time_custom {
    margin: 15px 0;
}

p.st_time.c.st_time_custom a {
    color: red;
}

.slick-track {
    margin-left: auto;
    margin-right: auto;
}

.right-image {
    max-width: 240px;
}

.mob-show {
    display: none;
}

.desktop-show {
    display: block;
}

/* Red lake store location css */
.address_sec.svailability_sec .addrs.holihr_eqht p {
    display: none;
}

.single_store_sec1 .mob_swap_container .store_detail_sec .address_sec.svailability_sec p.red_textStyle.addition_message small {
    display: flex;
    font-size: 12px;
    line-height: normal;
    font-family: "Gotham-Bold";
    margin-bottom: 20px;
    }

.single_store_sec1
    .mob_swap_container
    .store_detail_sec
    .address_sec.svailability_sec
    p.red_textStyle.start-message {
    margin-top: -10px;
    font-weight: 600;
}

.shop_widget .shop_online li {
    width: 33.33% !important;
}
.shop_widget .shop_online.onlineStore li {
  width: 25% !important;
}

.slider_box_wrap .slider_text .slider_text_tbl .slider_text_cel {
    padding-bottom: 120px !important;
}

/* .explore_content_wrap .filter_area .search_area {
    display: none;
} */

.slider_box_wrap
    .slider_text
    .slider_text_tbl
    .slider_text_cel
    .site_default_btn {
    margin-top: 20px !important;
}

.single-recipes .grid-block-wrap {
    margin-bottom: 60px;
}

/*Review star css*/
.wppcr_rating:not(:checked) > label,
.wppcr_rating > input:checked ~ label,
.wppcr_rating:not(:checked) > label:hover,
.wppcr_rating:not(:checked) > label:hover ~ label {
    text-shadow: none !important;
    line-height: 22px !important;
    width: 1.2em !important;
}

.post-type-archive-foodpairings header,
.post-type-archive-cottagingguides header {
    position: unset;
    background: #000;
}

/* Recipes cook and serve Css*/
.archive_recipe .recipe-box .grid-des {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.page-single-recipe .grid-block-wrap .grid-content .grid-des {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

/* beer lover page recipes css*/

.beer-lover-recipe-list .grid-des {
    display: flex;
    /* align-items: center; */
    justify-content: flex-start;
    position: relative;
}

.beer-lover-recipe-list .recipe-cook,
.beer-lover-recipe-list .recipe-serves {
    display: flex;
    padding: 15px;
    align-items: center;
}

.page-single-recipe .grid-block-wrap .grid-des:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #ddd;
    right: 50%;
}

.page-single-recipe .right-section {
    border: none;
}

.page-about-content .grid-des {
    display: inline-block;
}

/* square list type for article */
ul.orange-dot-list li ul.disc-list li::before {
    border-radius: 0px;
}

/* Suppliers page Css */

.supplier-img-box img {
    max-width: 100%;
}

/* Tbs Button Styling */
.tbs_btns.mbl-view {
    display: none;
}

@media screen and (max-width: 767px) {
    .mob-show {
        display: block !important;
    }

    .desktop-show {
        display: none !important;
    }

    .imgalign-right.right-image {
        width: 100%;
        max-width: 240px;
        float: initial;
        margin: 0 auto;
        margin-bottom: 15px;
        display: block;
    }
}

@media screen and (max-width: 767px) {
    section.community_bottom_banner {
        padding: 0 15px;
        background-size: cover;
        height: 270px;
    }

    .community_inner_bottom_banner h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    /* .breadcrumb>#breadcrumbs li {
    display: none;
}
.breadcrumb>#breadcrumbs li:nth-last-child(3) {
    display: inline-block;
}
.breadcrumb>#breadcrumbs li:nth-last-child(3) a::before {
    content: url(../images/arrow_left.svg);
    position: relative;
    left: -6px;
    top: 1px;
} */
}

@media screen and (max-width: 767px) {
    .three_col_layout_wrap .right-sidebar-section {
        padding-top: 0;
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 2;
        -webkit-order: 2 !important;
        order: 2 !important;
    }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
    .single_beer_insp_sec .pair_box .content_sec p {
        font-size: 12px;
        min-height: 51px;
    }
}

@media screen and (max-width: 479px) {
    .single_beer_insp_sec .pair_box .content_sec p {
        min-height: 48px;
    }

    .single_beer_insp_sec.inspiration .pair_box .content_sec h3 {
        min-height: 34px;
    }
}

@media (max-width: 1199px) {
    .col-md-offset-2 {
        margin-left: 0 !important;
    }

    .tbs_btns.dsktp-view {
        display: none;
    }

    .tbs_btns.mbl-view {
        display: block !important;
    }
}
